.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em 0 1em;
    position: relative;
}

.cabecalho__menu-hamburguer {
    display: inline-block;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.cabecalho__icones {
    display: flex;
    align-items: center;
}

.container__imagens {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 60vw;
    background-color: var(--cor-branco);
    z-index: 1;
}

.lista-menu__titulo {
    color: var(--cor-amarelo);
    padding: 1em;
    font-weight: 700;
}

.lista-menu__itens {
    padding: 1em;

}

.lista-menu__links {
    text-decoration: none;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}

.cabecalho__menu-checkbox:checked~.lista-menu {
    display: block;
    z-index: 1;
}

.cabecalho__menu-checkbox {
    display: none;
}

.cabecalho__titulo {
    display: none;
}

.cabecalho__categorias-checkbox {
    display: none;
}

.cabecalho__lista {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        position: static;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .cabecalho__titulo {
        display: block;
        font-family: var(--fonte-logo);
        font-size: 30px;
        padding-top: .5em;
    }

    .cabecalho__titulo-destaque {
        font-weight: 700;
    }

    .cabecalho__lista {
        position: relative;
        display: flex;
        gap: 4em;
        padding: 1em 0;
    }

    .cabecalho__lista-opcao,
    .cabecalho__lista-link {
        text-decoration: none;
        color: var(--cor-preto);
    }

    .lista-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0%;
        width: auto;
        background-color: var(--cor-branco);
    }

    .cabecalho__categorias-checkbox:checked~.lista-menu {
        display: flex;
        flex-direction: column;

    }

    .favoritos__transparente {
        display: none;
    }

}